{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>email varification</title>

    <!-- Local styling link -->
    <link rel="stylesheet" href="{%static 'css/login.css' %}">


    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Poppins:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>

    <div id="form_container">
      <div id="logo"><img src="{% static 'images/lattice logo.png'%}" alt=""></div>
        <div id="error">Wrong OTP</div>
        <form action="login_team_member" method="POST" enctype="application/x-www-form-urlencoded">
            <div class="user-box">
                <input name="input_usernamebox" id="input_usernamebox" type="text" name="idd" required="">
                <label>OTP</label>
                <img src="{% static 'images/Lock.svg'%}" id="login_userlogo" alt="user" width="35" height="35" />
            </div>
          
            <div id="logindiv">
                <input type="submit" id="login" value="Submit">
            </div>
            <div id="new_user">
                <a href="#">Resend OTP</a>
            </div>
        </form>
    </div>

   

</body>

</html>
